* {
  box-sizing: border-box;
}

body {

}

header {
  text-align: center;
 
}

.container { 

  
}

.sections {

}

#searchBlock {
}

#citySearch {
  
}

#currentWeather{
}

#formTitle {
}

#search {
}

#searchBtn {
  width: 355px;
}

#searchHistory {
}

#forecast {
}
